# Assignement #1

## Name: Anuj Patel 

## Student ID: 100904232

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url= "https://raw.githubusercontent.com/Anuj020/CsvFiles/main/student-mat.csv"
student = pd.read_csv(url)

### A- Head, Info, Describe

In [3]:
student.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
#student.info()

In [5]:
#student.describe()

### B- Plotting a histogram for Health Status (health), Study Time (studytime), Free Time After School (freetime), Goes Out with Friends (goout), Number of Absences (absences), First Period Grade (G1), Second Period Grade (G2), and Third Period Grade (G3)

In [6]:
'''student.hist(column= ['studytime','health','freetime','goout','absences','G1','G2','G3'],bins=10, figsize=(24, 16))
plt.show() '''

"student.hist(column= ['studytime','health','freetime','goout','absences','G1','G2','G3'],bins=10, figsize=(24, 16))\nplt.show() "

### C- G3 correlation matrix with other attributes

In [7]:
cor_matrix=student.corr()
print(cor_matrix['G3'])

age          -0.161579
Medu          0.217147
Fedu          0.152457
traveltime   -0.117142
studytime     0.097820
failures     -0.360415
famrel        0.051363
freetime      0.011307
goout        -0.132791
Dalc         -0.054660
Walc         -0.051939
health       -0.061335
absences      0.034247
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

### D- correlation between attributes using sns.pairplot.

In [8]:
#sns.pairplot(student)

### 2- Droping columns: Mother’s job (Mjob), Father’s job (Fjob), Reason at School (reason), and Student’s Guardian (guardian).

In [9]:
student.drop(['Mjob','Fjob','reason','guardian'],axis='columns',inplace=True)

### 3 - Check if there are null values and fill them with the mean value of that attribute if it is numerical, and with the most common occurrence of that value if it is categorical.

In [10]:
#student.isnull().sum()

### 4 - Encode the categorical columns using get_dummies encoder.

In [19]:
categorical = student.select_dtypes(include=['object']).columns
get_dummy = pd.get_dummies(student, columns=categorical)
get_dummy['G3']
print(student.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   traveltime  395 non-null    int64
 9   studytime   395 non-null    int64
 10  failures    395 non-null    int64
 11  schoolsup   395 non-null    object
 12  famsup      395 non-null    object
 13  paid        395 non-null    object
 14  activities  395 non-null    object
 15  nursery     395 non-null    object
 16  higher      395 non-null    object
 17  internet    395 non-null    object
 18  romantic    395 non-null    object
 19  famrel      395 non-null    int64
 20  freetime    395 non-null    int64
 21  goout       395 non-null    int64
 22  Dalc        395 non-null    int64
 23  Walc        395 non-null    int64
 24  health      395 non-null    int64
 25  absences    395 non-null    int64
 26  G1          395 non-null    int64
 27  G2          395 non-null    int64
 28  G3          395 non-null    int64
dtypes: int64(16), object(13)
memory usage: 89.6+ KB
None

### 5 - Standardize the data using StandardScaler.

In [12]:
'''from sklearn.preprocessing import StandardScaler

student_scaler = StandardScaler()

#stu_num = pd.student.select_dtypes(include=[np.number])
stu_num = student.select_dtypes(include=[np.number])
student_scaled = student_scaler.fit_transform(stu_num)
student_scaled '''

'from sklearn.preprocessing import StandardScaler\n\nstudent_scaler = StandardScaler()\n\n#stu_num = pd.student.select_dtypes(include=[np.number])\nstu_num = student.select_dtypes(include=[np.number])\nstudent_scaled = student_scaler.fit_transform(stu_num)\nstudent_scaled '

### 6 - Split the data into 80% training set and 20% testing set, and print the shape of X_train, y_train, X_test, and y_test.

In [13]:
'''from sklearn.model_selection import train_test_split

feature=get_dummy.drop('G3',axis=1)
target= get_dummy['G3']
X_train, X_test, y_train, y_test = train_test_split(feature,target, test_size=0.2)

print("train_set: ", X_train.shape, y_train.shape)

print("--------------------------------------------")

print("test_set: ",X_test.shape , y_test.shape)
 '''

'from sklearn.model_selection import train_test_split\n\nfeature=get_dummy.drop(\'G3\',axis=1)\ntarget= get_dummy[\'G3\']\nX_train, X_test, y_train, y_test = train_test_split(feature,target, test_size=0.2)\n\nprint("train_set: ", X_train.shape, y_train.shape)\n\nprint("--------------------------------------------")\n\nprint("test_set: ",X_test.shape , y_test.shape)\n '

### 7- Train a linear regression model to predict G3.

In [14]:
'''from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train,y_train)

predicted = model.predict(X_test)
print(predicted) '''

'from sklearn.linear_model import LinearRegression\n\nmodel = LinearRegression()\n\nmodel.fit(X_train,y_train)\n\npredicted = model.predict(X_test)\nprint(predicted) '

### 8 - Test your model on the test dataset and report on the MSE.

In [15]:
'''from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, predicted)
print(mse)  '''

'from sklearn.metrics import mean_squared_error\n\nmse = mean_squared_error(y_test, predicted)\nprint(mse)  '

### 9 - Regularize your model using Ridge and Lasso regularization with alpha=1.

In [16]:
'''from sklearn.linear_model import Ridge , Lasso

ridgeModel = Ridge(alpha=1)
ridgeModel.fit(X_train,y_train)

lassoModel = Lasso(alpha=1)
lassoModel.fit(X_train,y_train)

predicted_ridge = ridgeModel.predict(X_test)
predicted_lasso = lassoModel.predict(X_test)

mse_ridge = mean_squared_error(y_test,predicted_ridge)
mse_lasso = mean_squared_error(y_test,predicted_lasso)

print("Ridge_mse: ",mse_ridge)
print("Lasso_mse: ",mse_lasso) '''

'from sklearn.linear_model import Ridge , Lasso\n\nridgeModel = Ridge(alpha=1)\nridgeModel.fit(X_train,y_train)\n\nlassoModel = Lasso(alpha=1)\nlassoModel.fit(X_train,y_train)\n\npredicted_ridge = ridgeModel.predict(X_test)\npredicted_lasso = lassoModel.predict(X_test)\n\nmse_ridge = mean_squared_error(y_test,predicted_ridge)\nmse_lasso = mean_squared_error(y_test,predicted_lasso)\n\nprint("Ridge_mse: ",mse_ridge)\nprint("Lasso_mse: ",mse_lasso) '

### 10 - Test your models from 9 on the test dataset and report on the MSE.

In [17]:
'''rid_pred = ridgeModel.predict(X_test)
print(rid_pred)
las_pred = lassoModel.predict(X_test)

print("------------------------")
print(las_pred)  '''

'rid_pred = ridgeModel.predict(X_test)\nprint(rid_pred)\nlas_pred = lassoModel.predict(X_test)\n\nprint("------------------------")\nprint(las_pred)  '

### 11 - Plot a graph of your model showing the highest correlated feature (with G3) on the x-axis and G3 on the y-axis.

In [18]:
''' import matplotlib.pyplot as plt
import seaborn as sns

corr_matrix = student.corr()

highestCorrFeature =  corr_matrix['G3'].sort_values(ascending = False).index[1]

sns.scatterplot(x=student[highestCorrFeature], y =student["G3"])
plt.xlabel(highestCorrFeature)
plt.ylabel("G3") 
plt.show() '''

' import matplotlib.pyplot as plt\nimport seaborn as sns\n\ncorr_matrix = student.corr()\n\nhighestCorrFeature =  corr_matrix[\'G3\'].sort_values(ascending = False).index[1]\n\nsns.scatterplot(x=student[highestCorrFeature], y =student["G3"])\nplt.xlabel(highestCorrFeature)\nplt.ylabel("G3") \nplt.show() '